@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

$padding-horizontal: 15rem;
$font-titulo: 'Dancing Script', cursive;
$font-text: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$color-highlight: #22A699;
$color-text: #F24C3D;
$font-size-titulo: 1.5rem;
$font-size-highlight: 3.5rem;